#btn-inkontext {
  padding: 10px 30px;
}

.u-section-1 {
  margin-top: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  font-weight: 500;
  margin: 313px 400px 0 79px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 32px 600px 0 79px;
}

.u-section-1 .u-text-3 {
  transition-duration: 0.5s;
  font-size: 1.5rem;
  font-weight: 500;
  background-image: none;
  margin: 79px 342px 32px 79px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 311px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 91px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-text-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}.u-section-2 .u-sheet-1 {
  min-height: 927px;
}

.u-section-2 .u-text-1 {
  font-size: 5rem;
  font-weight: 500;
  line-height: 0.94;
  margin: 96px 781px 0 78px;
}

.u-section-2 .u-group-1 {
  width: 1288px;
  min-height: 624px;
  height: auto;
  box-shadow: 9px 40px 40px 40px rgba(55,174,226,0.1);
  background-image: none;
  margin: 102px auto 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 765px;
  height: 265px;
  margin: 102px auto 0 70px;
}

.u-section-2 .u-text-2 {
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0px;
  font-weight: 500;
  text-transform: uppercase;
  margin: -290px 872px 0 112px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 50px;
  height: 50px;
  margin: -192px auto 0 33px;
}

.u-section-2 .u-shape-2 {
  width: 50px;
  height: 50px;
  margin: 21px 449px 0 auto;
}

.u-section-2 .u-shape-3 {
  width: 50px;
  height: 50px;
  margin: 144px auto 0 453px;
}

.u-section-2 .u-text-3 {
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 500;
  margin: -42px 355px 0 536px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  margin: -332px 132px 188px 864px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 199px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 90px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 636px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 159px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -49px;
    margin-right: 181px;
    margin-left: 361px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -346px;
    margin-right: 0;
    margin-left: 647px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 249px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -274px;
    margin-right: 416px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 71px;
    margin-left: 251px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 427px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 187px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -212px;
    margin-right: 236px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 142px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 247px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 118px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -143px;
    margin-right: 36px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 290px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 290px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -23px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -371px;
    margin-left: 47px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 894px;
}

.u-section-3 .u-text-1 {
  font-size: 5rem;
  font-weight: 500;
  margin: 130px 450px 0 80px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 30px 553px 0 80px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 30px 460px 30px 80px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 893px;
}

.u-section-4 .u-text-1 {
  font-size: 5rem;
  font-weight: 500;
  margin: 129px 450px 0 79px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 30px 528px 0 79px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 30px 464px 30px 79px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 555px;
}

.u-section-5 .u-text-1 {
  font-size: 5rem;
  font-weight: 500;
  margin: 130px 461px 0 79px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 29px 461px 0 79px;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 29px 461px 29px 79px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  margin: 31px 462px 0 78px;
}

.u-section-6 .u-group-1 {
  width: 644px;
  min-height: 687px;
  height: auto;
  background-image: none;
  margin: 31px auto 0 76px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  width: 480px;
  margin: 0 auto;
}

.u-section-6 .u-group-2 {
  width: 644px;
  min-height: 394px;
  height: auto;
  background-image: none;
  margin: -687px 45px 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  width: 480px;
  margin: 48px auto -48px;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 324px 462px 60px 78px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-group-2 {
    height: auto;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-6 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-group-2 {
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
  }
}

.icon {
  font-size: 1.2em;
  margin: -1.2em;
}

.blur {
  backdrop-filter: blur(5px);
}

.border {
  border-color: linear-gradient(to right top, blue, skyblue, blue);
}

.li li {
  margin-right: 20px;
  display: inline;
}

.li li:hover::after {
  content: attr(data-title); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  left: 20%; top: 30%; /* Положение подсказки */
  z-index: 1; /* Отображаем подсказку поверх других элементов */
  width: 300px;
  height: auto;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px); /* Полупрозрачный цвет фона */
  font-family: Roboto, sans-serif; /* Гарнитура шрифта */
  font-size: 14px; /* Размер текста подсказки */
  padding: 25px 33px; /* Поля */
  border: 1px solid rgb(55, 174, 226); /* Параметры рамки */
  border-radius: 30px;
  color: black
}

.container {
  width: 100%;
  height: 100%;
  max-height: 5100px;
  max-width: 1440px;
}

a p {
  color: black;
}
