 .u-section-1 {
  margin-top: 20px;
}

/** .u-section-1 .u-sheet-1 {

}

**/

.u-section-1 .u-text-1 {
  font-size: 4.375rem;
  font-weight: 500;
  margin: 134px 594px 0 155px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 66px 817px 0 155px;
}

.u-section-1 .u-text-3 {
  padding-left: 0;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 66px 433px 60px 155px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 161px;
    margin-right: 511px;
    margin-left: 79px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 39px;
    margin-right: 511px;
    margin-left: 79px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 400px;
    margin-left: 79px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 140px;
    margin-right: 146px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.375rem;
    width: auto;
    margin-top: 45px;
    margin-right: 208px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-3 {
    transition-duration: 0.5s;
    font-size: 1.375rem;
    width: auto;
    margin-top: 45px;
    margin-right: 146px;
    margin-left: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 100px;
    margin-right: 82px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 61px;
    margin-right: 82px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 69px;
    margin-right: 82px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 62px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-left: 21px;
    margin-right: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 40px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 40px;
    margin-left: 11px;
    margin-right: 11px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 927px;
}

.u-section-2 .u-text-1 {
  font-size: 4.375rem;
  font-weight: 500;
  line-height: 0.94;
  margin: 105px 701px 0 155px;
}

.u-section-2 .u-group-1 {
  width: 1288px;
  min-height: 624px;
  height: auto;
  box-shadow: 9px 40px 40px 40px rgba(55,174,226,0.1);
  background-image: none;
  margin: 70px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 765px;
  height: 265px;
  margin: 102px auto 0 70px;
}

.u-section-2 .u-text-2 {
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0px;
  font-weight: 500;
  text-transform: uppercase;
  margin: -290px 872px 0 112px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 2.5rem;
  letter-spacing: normal;
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 50px;
  height: 50px;
  margin: -192px auto 0 33px;
}

.u-section-2 .u-shape-2 {
  width: 50px;
  height: 50px;
  margin: 21px 449px 0 auto;
}

.u-section-2 .u-shape-3 {
  width: 50px;
  height: 50px;
  margin: 144px auto 0 453px;
}

.u-section-2 .u-text-3 {
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 500;
  margin: -42px 355px 0 536px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 2.5rem;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  margin: -332px 132px 188px 864px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 2.5rem;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-text-1 {
    margin-right: 782px;
    margin-left: 77px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-right: 149px;
    margin-left: 47px;
  }

  .u-section-2 .u-group-1 {
    width: 850px;
  }

  .u-section-2 .u-image-1 {
    width: 603px;
    height: 371px;
    margin-top: 68px;
    margin-left: 75px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -316px;
    margin-right: 457px;
    margin-left: 89px;
  }

  .u-section-2 .u-shape-1 {
    width: 42px;
    height: 42px;
  }

  .u-section-2 .u-shape-2 {
    width: 42px;
    height: 42px;
    margin-top: 23px;
    margin-right: 156px;
  }

  .u-section-2 .u-shape-3 {
    width: 40px;
    height: 40px;
    margin-top: 111px;
    margin-left: 382px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-right: 266px;
    margin-left: 223px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin: -288px 26px 0 531px;
  }

  .u-section-2 .u-btn-3 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
    margin-right: 82px;
    margin-left: 20px;
  }

  .u-section-2 .u-group-1 {
    min-height: 539px;
    width: 680px;
    margin-top: 60px;
  }

  .u-section-2 .u-image-1 {
    width: 566px;
    height: 348px;
    margin-top: 73px;
    margin-right: 65px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -369px;
    margin-right: 275px;
    margin-left: 101px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.875rem;
    letter-spacing: 0px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -117px;
    margin-left: 42px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 11px;
    margin-right: 60px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 104px;
    margin-right: 316px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: 295px;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-4 {
    margin-top: -283px;
    margin-right: 17px;
    margin-left: 445px;
  }

  .u-section-2 .u-btn-3 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.8125rem;
    margin-right: 20px;
  }

  .u-section-2 .u-group-1 {
    min-height: 452px;
    width: 500px;
  }

  .u-section-2 .u-image-1 {
    width: 415px;
    height: 382px;
    margin-top: 33px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-top: -328px;
    margin-right: 253px;
    margin-left: 63px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-shape-1 {
    width: 31px;
    height: 31px;
    margin-top: -81px;
    margin-left: 23px;
  }

  .u-section-2 .u-shape-2 {
    width: 30px;
    height: 29px;
    margin-top: 13px;
    margin-right: 40px;
  }

  .u-section-2 .u-shape-3 {
    width: 30px;
    height: 30px;
    margin-top: 75px;
    margin-right: 216px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    line-height: 1.4;
    width: auto;
    margin-top: 10px;
    margin-right: 111px;
    margin-left: 144px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-top: -356px;
    margin-right: 23px;
    margin-left: 300px;
  }

  .u-section-2 .u-btn-3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-group-1 {
    min-height: 412px;
    width: 318px;
    margin-top: 40px;
    margin-bottom: 59px;
  }

  .u-section-2 .u-image-1 {
    width: 285px;
    margin-top: 13px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-2 {
    line-height: 1.2;
    margin-top: -342px;
    margin-right: 117px;
    margin-left: 24px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 10px;
    margin-left: 13px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 0;
    margin-right: 13px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 42px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    line-height: 1.2;
    width: 166px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    line-height: 1.2;
    margin-top: -214px;
    margin-right: 55px;
    margin-left: 142px;
  }

  .u-section-2 .u-btn-3 {
    font-size: 1rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 894px;
}

.u-section-3 .u-text-1 {
  font-size: 4.375rem;
  font-weight: 500;
  margin: 100px 323px 0 155px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 60px 485px 0 155px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 60px 0px 60px 155px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-text-1 {
    margin-right: 400px;
    margin-left: 80px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 400px;
    margin-left: 80px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 400px;
    margin-left: 80px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 90px;
    margin-right: 146px;
    margin-left: 46px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 62px;
    margin-right: 146px;
    margin-left: 46px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 58px;
    margin-right: 146px;
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 100px;
    margin-right: 82px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 60px;
    margin-right: 82px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 60px;
    margin-right: 82px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.8125rem;
    margin-top: 60px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 844px;
}

.u-section-4 .u-text-1 {
  font-size: 4.375rem;
  font-weight: 500;
  margin: 100px 325px 0 155px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 60px 485px 0 155px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 60px 325px 60px 155px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-text-1 {
    margin-right: 401px;
    margin-left: 79px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 401px;
    margin-left: 79px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 401px;
    margin-left: 79px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 60px;
    margin-right: 147px;
    margin-left: 45px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 147px;
    margin-left: 45px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 147px;
    margin-left: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 100px;
    margin-right: 82px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 82px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 82px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.8125rem;
    margin-top: 60px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 20px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 80px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    margin-top: 40px;
    margin-right: 0;
    margin-left: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 598px;
}

.u-section-5 .u-text-1 {
  font-size: 4.375rem;
  font-weight: 500;
  margin: 100px 401px 0 155px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 71px 485px 0 155px;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 71px 485px 50px 155px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-5 .u-text-1 {
    margin-left: 79px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 401px;
    margin-left: 79px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 461px;
    margin-left: 79px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-right: 146px;
    margin-left: 46px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 46px;
    margin-right: 146px;
    margin-left: 46px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin: 46px 146px 60px 46px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.4375rem;
    margin-right: 82px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 82px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 60px;
    margin-right: 82px;
    margin-left: 20px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.8125rem;
    margin-top: 61px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 50px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin: 40px 11px 59px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 859px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  margin: 50px 385px 0 155px;
}

.u-section-6 .u-group-1 {
  width: 630px;
  min-height: 467px;
  height: auto;
  background-image: none;
  margin: 36px auto 0 155px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 57px 47px 0;
}

.u-section-6 .u-group-2 {
  width: 630px;
  min-height: 470px;
  height: auto;
  background-image: none;
  margin: -467px 149px 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 57px 39px 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 57px 323px 60px 155px;
}

@media (max-width: 1399px) {
  .u-section-6 .u-text-1 {
    margin-right: 462px;
    margin-left: 78px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 53px;
    margin-left: 75px;
    height: auto;
  }

  .u-section-6 .u-group-2 {
    margin-top: -465px;
    margin-right: 75px;
    height: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: 41px;
    margin-right: 401px;
    margin-left: 78px;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-right: 146px;
    margin-left: 45px;
  }

  .u-section-6 .u-group-1 {
    width: 408px;
    min-height: 584px;
    margin-top: 41px;
    margin-left: 45px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
    width: 292px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-group-2 {
    width: 425px;
    min-height: 584px;
    margin-top: -586px;
    margin-right: 45px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
    width: 331px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 38px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-6 .u-text-1 {
    margin-right: -21px;
    margin-left: 20px;
  }

  .u-section-6 .u-group-1 {
    width: 330px;
    min-height: 555px;
    margin-top: 42px;
    margin-left: 20px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    padding-left: 1px;
    margin-top: 26px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-group-2 {
    width: 330px;
    min-height: 555px;
    margin-top: -553px;
    margin-right: 20px;
  }

  .u-section-6 .u-text-3 {
    padding-left: 12px;
    width: auto;
    margin-top: 0;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 42px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1240px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 60px;
    margin-right: -20px;
  }

  .u-section-6 .u-group-1 {
    width: 500px;
    min-height: 450px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    padding-left: 13px;
    line-height: 1.8;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-group-2 {
    width: 500px;
    min-height: 476px;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    padding-left: 13px;
    line-height: 1.8;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1390px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.375rem;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-6 .u-group-1 {
    width: 318px;
    min-height: 508px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-group-2 {
    min-height: 536px;
    width: 318px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
    margin-top: 25px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1rem;
    margin-top: 40px;
    margin-left: 11px;
    margin-right: 11px;
  }
}

.icon {
  font-size: 1.2em;
  margin: -1.2em;
}

.blur {
  backdrop-filter: blur(5px);
}

.li li {
  margin-right: 20px;
  display: inline;
}

.li li:hover::after {
  content: attr(data-title); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  left: 20%; top: 30%; /* Положение подсказки */
  z-index: 1; /* Отображаем подсказку поверх других элементов */
  width: 300px;
  height: auto;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px); /* Полупрозрачный цвет фона */
  font-family: Roboto, sans-serif; /* Гарнитура шрифта */
  font-size: 14px; /* Размер текста подсказки */
  padding: 25px 33px; /* Поля */
  border: 1px solid rgb(55, 174, 226); /* Параметры рамки */
  border-radius: 30px;
  color: black
}

.u-padding {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a p {
  color: black;
}